<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxcr.bean.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.yxcr.bean.pojo.Menu">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
            <result property="visible" column="visible" jdbcType="TINYINT"/>
            <result property="isFull" column="is_full" jdbcType="INTEGER"/>
            <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
            <result property="isKeepAlive" column="is_keep_alive" jdbcType="INTEGER"/>
            <result property="meta" column="meta" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,title,
        icon,path,component,
        order_num,visible,permission
    </sql>
    <select id="selectMenuWithPermissions" resultType="com.yxcr.bean.pojo.Menu">
        SELECT *
        FROM yx_sys_menu AS b1
                 LEFT JOIN yx_sys_role_menu_permissions AS b2 ON b1.id = b2.menu_id
        WHERE b2.role_id = #{roleId}
    </select>
</mapper>
