<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxcr.bean.mapper.RoleMenuPermissionsMapper">

    <resultMap id="BaseResultMap" type="com.yxcr.bean.pojo.RoleMenuPermissions">
            <id property="roleId" column="role_id" jdbcType="INTEGER"/>
            <id property="menuId" column="menu_id" jdbcType="INTEGER"/>
            <result property="permission" column="permission" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_id,menu_id,permission
    </sql>
    <delete id="deleteByRoleId">
        delete
        from yx_sys_role_menu_permissions
        where role_id = #{roleId,jdbcType=NUMERIC}
    </delete>
    <select id="selectMenuIdByRoleId" resultType="java.lang.Integer">
        select menu_id
        from yx_sys_role_menu_permissions
        where role_id = #{roleId,jdbcType=NUMERIC}
    </select>
</mapper>
