<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxcr.bean.mapper.UsersMapper">

    <resultMap id="BaseResultMap" type="com.yxcr.bean.pojo.Users">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,username,password,
        email,phone,status,
        create_time,update_time
    </sql>
    <select id="userList" resultType="com.yxcr.bean.dto.UserDto">
        SELECT u.id,
        u.username,
        u.avatar,
        u.email,
        u.phone,
        u.status,
        u.create_time,
        u.update_time,
        u.is_delete,
        r.name AS role_name,
        r.id as role_id
        FROM yx_sys_users u
        LEFT JOIN yx_sys_user_roles user_roles ON u.id = user_roles.user_id
        LEFT JOIN yx_sys_roles r ON user_roles.role_id = r.id
        where 1=1 and u.is_delete !=1
        <if test="params.username != null and params.username != ''">
            and username LIKE concat('%',#{params.username},'%')
        </if>
        <if test="params.phone != null and params.phone != ''">
            and phone LIKE concat('%',#{params.phone},'%')
        </if>
        <if test="params.status != null and params.status != ''">
            and status IN (#{params.status})
        </if>
        <if test="params.roleName != null and params.roleName != ''">
            and roleName = #{params.roleName}
        </if>
    </select>
    <update id="RefreshPwd">
        update yx_sys_users
        set password = 666666
        where id = #{id,jdbcType=NUMERIC}
    </update>
</mapper>
